<!DOCTYPE html>
<html ng-app="rocksvashiModules">
<head lang="en">
<meta charset="utf-8">
<title>Test for Promise Queue</title>
<style>
.ng-cloak {
	display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>
</head>

<body ng-controller="MainCtrl">
	<h1>{{name}}</h1>
	<button ng-click='start()'>Start Queue</button>

	<h1 ng-show="!hide">
		<img
			src="http://minisites.mmkgroup.com.mx/extrememakeover2016/img/final/gatoloading.gif" />
	</h1>
	<span ng-hide="!hide">
	<h1>Todo's</h1>
		<table width="100%">
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Completed</th>
			</tr>
			<tr ng-repeat='r in todos track by $index'>
				<td>{{r.id}}</td>
				<td>{{r.title}}</td>
				<td>{{r.completed}}</td>
			</tr>
		</table>
		
		<h1>Albums</h1>
		<table width="100%">
			<tr>
				<th>albumId</th>
				<th>title</th>
			</tr>
			<tr ng-repeat='r in albums track by $index '>
				<td><input type="text" value="{{r.id}}" /></td>
				<td><input type="text" value="{{r.title}}" /></td>
			</tr>

		</table>
	</span>
</body>
</html>
<!--  Load all the required JS files. -->
<script src="angular.min.js"></script>
<script src="angular-resource.min.js"></Script>
<script src="app.js"></script>
<script src="service.requestqueue.js"></script>
<script src="service.rest.js"></script>